*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-size: 24px;
    /*background: linear-gradient(66deg, #e41749, #f5587b, #ff8a5c, #fff591);*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//background: #F0F3EF;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.router-link-active{
    text-decoration: none;
}
.router-link-active:hover{
    text-decoration: none !important;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    /*-webkit-appearance: none;*/
}
/*common css*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearFix:before,
.clearFix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /*-webkit-appearance: textfield;*/
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
}
