*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-size: 24px;
//background: linear-gradient(66deg, #e41749, #f5587b, #ff8a5c, #fff591);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//background: #F0F3EF;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}
/*common css*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearFix:before,
.clearFix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
